<ion-tabs>
  <ion-tab-bar slot="bottom"> 
    <ion-tab-button tab="homepage">
      <ion-icon name="map"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="captains">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Captains</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="history">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>